* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;

    display: flex;
    justify-content: space-around;
    // background-color: rgba(0, 0, 0, .2);

    .main-left {
        width: 30%;
        // color: #fff;
        margin: 100px 0;
        text-align: center;
        border-right: black 1px solid;

        .lists {
            list-style: none;

            li {
                background-color: rgb(0, 93, 197);
                width: 60%;
                height: 2em;
                line-height: 2em;
                border-radius: 1em;
                font-weight: 600;
                letter-spacing: .1em;
                color: #fff;
                margin: 10px auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

    input {
        border: none;
        border-bottom: 1px black solid;
        width: 60%;
        font-size: 1.5em;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 2% 5%;
        margin-left: 3%;
        border-radius: .8em;
        color: #005dc5;
        border-color: #005dc5;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, .1);
        }

        &:focus{
            outline: none;
        }
    }

    .main-right {
        box-shadow: 0 0 8px gray;
        width: 50%;
        background-color: rgb(255, 255, 255);
        margin: 100px 0;
        text-align: center;

        .done {
            color: rgb(128, 128, 128);
            text-decoration: line-through;
        }

        h1 {
            background-color: rgba(0, 0, 0, .1);
            padding: 10px;
        }

        .input-box {
            padding: 3em;
            input {
                width: 80%;
                border-bottom: 2px black solid;
            }
        }

        .clear-box {
            padding: 0 3em 2em;
            display: flex;
            justify-content: space-around;

            p {
                &:hover {
                    cursor: pointer;
                    color: #ff0000;
                }
            }
        }

        ul {
            padding: 3em 3em 0;
            list-style: none;
            li {
                border-bottom: grey 1px solid;
                text-align: left;
                height: 2em;
                line-height: 2em;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

}